.header-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(0, 119, 181);
  top: 0;
  height: 10vh;
  z-index: 2;

  .header-title {
    font-size: 40px;
    color: white;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .showRoom-btn {
      font-size: 18px;
      height: 5vh;
      background: white;
      border: none;
      color: rgb(0, 119, 181);
      margin-right: 20px;
      &:hover {
        animation: headerButtonOffset 0.2s forwards;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
    .createRoom-btn {
      font-size: 18px;
      height: 5vh;
      border: none;
      background: white;
      color: rgb(0, 119, 181);
      margin-right: 20px;
      &:hover {
        animation: headerButtonOffset 0.2s forwards;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

@keyframes headerButtonOffset {
  0% {
    box-shadow: 0 0 0 0;
  }

  100% {
    box-shadow: 5px 5px 0 #e5e5e5;
  }
}
