.roomWrapper {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 10vh;
  bottom: 6.3vh;
  max-height: 80vh;
  width: 15vw;
  overflow: scroll;
  .roomBox {
    position: absolute;
    font-size: 0.2em;
    background-color: white;
    height: 100%;
    width: 100%;
    :nth-child(even) {
      background: white;
      &:hover {
        color: #ccc;
      }
    }
    :nth-child(odd) {
      background: #ccc;
      &:hover {
        color: white;
      }
    }
  }
}

.roomList {
  margin: auto;
  border-bottom: 2px solid #ccc;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
