@font-face {
  font-family: DanielsFont;
  src: url("./font/InputMonoCondensed-ExtraLight.ttf") format("TrueType");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(1em + 1vw); 
  // overflow-x: scroll; //daniel is hiding the ugly ass horizontal scroll bar
}

.primoContainer {
  font-size: 1em;
  top: 0;
}

body {
  font-family: DanielsFont;
  background: #eaeaea;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 60vw;
  z-index: 2;
  textarea {
    position: relative;
    border: 0;
    width: 85vw;
    height: 12vh;
    font-size: 0.17em;
    resize: none;
    user-select: none;
    border: rgb(0, 119, 181);
    outline: none;
    &:focus {
      animation: drawTopBorder 0.2s forwards;
    }
  }
  button {
    width: 13.2vw;
    height: 10vh;
    background: rgb(0, 119, 181);
    border: none;
    color: white;
    font-size: 0.3em;
    margin-right: auto;
    margin-left: auto;
    &:hover {
      cursor: pointer;
      animation: sendShadow 0.2s forwards;
    }
  }
}
.form-container {
  display: flex;
  justify-content: center;
}
//eventually will make a chatwindow component folder
.chatWindow {
  height: 50vh;
  width: 25vw;
  background: #e5e5e5;
}

@keyframes drawTopBorder {
  0% {
    border-top: 0px transparent;
    border-bottom: 0px transparent;
    border-left: 0px transparent;
  }
  100% {
    border-top: 5px solid rgb(0, 119, 181);
    border-bottom: 5px solid rgb(0, 119, 181);
    border-left: 5px solid rgb(0, 119, 181);
  }
}

@keyframes sendShadow {
  0% {
    box-shadow: 0 0 0 0;
  }

  100% {
    box-shadow: 10px 10px 0 dodgerblue;
  }
}
