* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 24px Helvetica, Arial;
  background: #eaeaea;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 80vw;
  right: 0;
  z-index: 2;
  transition: color 0.25s;
  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &:hover {
    color: rgb(0, 119, 181);
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: rgb(0, 119, 181); // Make borders visible
    transition: width 0.25s ease-out;
  }
  textarea {
    position: relative;
    border: 0;
    width: 85vw;
    height: 12vh;
    font-size: 18px;
    resize: none;
    user-select: none;
    border: rgb(0, 119, 181);
    &:focus {
      transition: border-width 0.6s linear;
    }
  }
  button {
    width: 13.2vw;
    height: 10vh;
    background: rgb(0, 119, 181);
    border: none;
    color: white;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}

.feed {
  position: relative;
  display: table;
  word-wrap: break-word;
  border-radius: 15px;
  list-style-type: none;
  margin: 12px;
  padding: 1vh;
  background-color: white;
  width: fit-content;
  max-width: 40vw;
  margin-left: 25vw;
  margin-right: 25vw;
  box-shadow: 1px 1px black, 2px 2px black, 5px 5px black;
  white-space: pre-wrap;
  &:hover {
    transform: translateX(-10px) scale(1.1);
  }
  .right {
    text-align: left;
    float: right;
    padding-left: 30px;
  }
  .username {
    font-size: 18px;
    opacity: 0.8;
    text-decoration: underline;
  }
  .left {
    text-align: left;
    float: left;
    border-left: 10px solid #da7e90;
    .username {
      font-size: 18px;
      opacity: 0.8;
      text-decoration: underline;
      color: #da7e90;
    }
  }
  z-index: 1;
}

// .username {
//   font-size: 20px;
//   opacity: 0.8;
//   text-decoration: underline;
// }

.message {
  float: left;
  text-align: left;
  max-width: 40vw;
  width: fit-content;
  min-width: 20vw;
}

.room-message {
  position: relative;
  font-size: 14px;
}

.roomWrapper {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  bottom: 6.3vh;
  max-height: 80vh;
  width: 15vw;
  .roomBox {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;

    :nth-child(even) {
      background: white;
    }
    :nth-child(odd) {
      background: #ccc;
    }
  }
}

.roomList {
  margin: auto;
  padding-left: 10px;
  border-bottom: 2px solid #ccc;
  align-items: center;
}

.chatWindow {
  height: 50vh;
  width: 25vw;
  background: #e5e5e5;
}
